.sfondo{
    background-image: url("img/img1°pag.png"); 
    height: 1431px;
    width: 1024px;
    background-repeat: no-repeat;
    background-size: auto;
}
p{
    color:white;
}

.container{
    color:black;
}

.logo{
    img: url("img/testo\ circolare1°pag.png")
}